.swal-text {
    text-align: center
  }

.jumbotron-job {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('/img/user/jumbotron-jobs.png');
    background-size: cover;
    height: 450px;
}

.jumbotron-job h2 {
    font-size: 40px;
    text-shadow: 3px 0 #000;
}

.jumbotron-job p {
    text-shadow: 2px 0 #000;
}

.li-border{
    border-color: white;
}

.link-job:hover {
    cursor: pointer;
    background-color: #001242 !important;
}

.active-job {
    color: #f6c23e !important;
}

.overflow-auto{
    max-height: 400px;
    overflow-y: scroll;
}

